<footer id="company">
  <h2>Darlow Technology Ltd.</h2>
  <p class="number">Registered in England &amp; Wales No.&nbsp;<strong>12655215</strong></p>
  <%# <p class="vat">VAT Registration No.&nbsp;<strong>GB&nbsp;127&nbsp;0172&nbsp;46</strong></p> %>
  <p class="office">Registered Office: First Floor, Telecom House, 125-135 Preston Road, Brighton, East Sussex, United Kingdom, BN1 6AF</p>
</footer>
