<footer id="company">
  <h2>Darlow Technology Ltd.</h2>
  <p class="number">Registered in England No. <strong>789 1591</strong></p>
  <p class="office">Registered office: 14 Colmworth Business Park, St. Neots, Cambridgeshire PE19 8ER</p>
</footer>