<footer id="company">
  <h2>Darlow Technology Ltd.</h2>
  <p class="number">Registered in England &amp; Wales No.&nbsp;<strong>789&nbsp;1591</strong></p>
  <p class="vat">VAT Registration No.&nbsp;<strong>GB&nbsp;127&nbsp;0172&nbsp;46</strong></p>
  <p class="office">Registered Office: 14 Eaton Court Road, Colmworth Business Park, St. Neots, Cambridgeshire PE19 8ER</p>
</footer>
