<footer id="company">
  <h2>Darlow Technology Ltd.</h2>
  <p class="number">Registered in England &amp; Wales No. <strong>789 1591</strong></p>
  <p class="vat">VAT Registration No. <strong>GB 127 0172 46</strong></p>
  <p class="office">Registered Office: 14 Eaton Court Road, Colmworth Business Park, St. Neots, Cambridgeshire PE19 8ER</p>
</footer>
