<h2>Contact</h2>

<p>Get in touch to discuss your project requirements. Please, no recruiters.</p>

<dl id="contact">
  <div>
    <dt>Email</dt>
    <dd><a href="mailto:contact@darlow.eu" title="Get in touch by email">contact@darlow.eu</a></dd>
  </div>
  <div>
    <dt>Twitter</dt>
    <dd><a href="https://twitter.com/darlowtech" class="twitter-follow-button" data-show-count="false">Follow @darlowtech</a></dd>
  </div>
</dl>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>