html {
  font-size: 62.5%;
  line-height: 1.3;
}

body {
  @include proxima-nova;
  background-color: black;
  color: $light-grey;
  margin: 10px;
}

a {
  color: $light-grey;
  text-decoration: none;
  font-weight: bold;
  @include transition-property(color border);
  @include transition-duration(0.3s);
  border-bottom: 2px solid transparentize($light-grey, 0.8);

  &:hover {
    color: white;
    border-color: transparentize(white, 0.4);
  } // a:hover
} // a

body, div, p, ul, ol, dl, h2 {
  @include font-size(2.2);

  @include min-width(tablet_small) {
    @include font-size(2.6);
  }
}

h1 {
  @include font-size(2.4);

  @include min-width(tablet_small) {
    @include font-size(2.8);
  }
}

h1, h2 {
  text-transform: uppercase;
}

p {
  margin: 0.5rem 0;
}
