section#content {
  max-width: 540px;
  margin: 0 auto;

  @include min-width(tablet_small) {
    max-width: 740px;
  } // @min-width(tablet_small)
} // section#content

h1 {
  @include image-replacement('logo-small', 300px, 60px);
  margin: 80px auto;

  @include min-width(tablet_small) {
    @include image-replacement('logo-medium', 480px, 96px);
    margin: 120px auto;
  } // @min-width(tablet_small)
} // h1

p.introduction {
  margin-bottom: 60px;
} // p.introduction

dl#contact {
  div {
    @include display-flex;

    dt, dd {
      @include font-size(1.4);
      @include line-height(4);

      @include min-width(tablet_small) {
        @include font-size(1.7);
      } // @min-width(tablet_small) dl#contact div {dt, dd}
    } // dl#contact div {dt, dd}

    dt {
      @include flex(1);
      text-transform: uppercase;
    } // dl#contact div dt

    dd {
      @include flex(2);
      margin-left: 0;
      text-align: right;
    } // dl#contact div dd
  } // dl#contact div
} // dl#contact

footer {
  margin-top: 60px;

  h2, p {
    @include font-size(1.4);
    margin: 0.5rem 0;

    @include min-width(tablet_small) {
      @include font-size(1.8);
    } // @min-width(tablet_small) footer {h2, p}
  } // footer {h2, p}
} // footer
