section#content {
  max-width: 540px;
  margin: 0 auto;

  @include min-width(640px) {
    max-width: 740px;
  } // @min-width(640px)
} // section#content

h1 {
  @include image-replacement('logo-small', 300px, 300px);
  margin: 0 auto;

  @include min-width(640px) {
    @include image-replacement('logo-medium', 480px, 480px);
  } // @min-width(640px)
} // h1

p.introduction {
  margin-bottom: 60px;
} // p.introduction

dl#contact {
  div {
    @include display-flex;

    dt, dd {
      @include font-size(1.4, $line-height: 4);

      @include min-width(640px) {
        @include font-size(1.7, $line-height: 4);
      } // @min-width(640px) dl#contact div {dt, dd}
    } // dl#contact div {dt, dd}

    dt {
      @include flex(1);
      text-transform: uppercase;
    } // dl#contact div dt

    dd {
      @include flex(2);
      margin-left: 0;
      text-align: right;
    } // dl#contact div dd
  } // dl#contact div
} // dl#contact

footer {
  margin-top: 60px;

  h2, p {
    @include font-size(1.2);
    margin: 0.5rem 0;

    @include min-width(640px) {
      @include font-size(1.5);
    } // @min-width(640px) footer {h2, p}
  } // footer {h2, p}
} // footer
