<h1><%= @page[:title] %></h1>

<p class="introduction">Front-end web development — HTML, CSS, JavaScript &amp; more.</p>

<h2>Contact</h2>

<p>Get in touch to discuss your project requirements or to enquire about my freelance availability.</p>

<dl>
  <dt>Email</dt>
  <dd><a href="mailto:ben@darlow.eu" title="Get in touch by email">ben@darlow.eu</a></dd>
  <dt>Telephone</dt>
  <dd>+44 7793 989746</dd>
  <dt>Twitter</dt>
  <dd><a href="https://twitter.com/darlowtech" class="twitter-follow-button"><span>Follow @darlowtech</span></a></dd>
</dl>